.bg-primary {
    color:#f8f8f2;
    background-color:#000000
  }
.chroma {
    color:#f8f8f2;
    background-color:#000000
  }
  body {
    background-color: red;
    color: #000000;
}
#homepage {
color: red;
}
#primary{
background-color: red;
}
